.main {
  display: flex;
  align-items: left;
  justify-content: flex-start;
  padding: 20px;
  border: 2px solid #737892;
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
}
.delete {
  cursor: pointer;
}
